apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "secret_id": "secret_id",
      "secret_key": "secret_key",
      "region": "region"
    }
